<form>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="pat@example.com" formControlName="email" required>
      <mat-error *ngIf="1">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
    <br>


  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password1" required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary">Login</button>
</form>