<div class = "login-container">
    <div class="example-container">
        <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>

    <div class="example-container">
        <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
    </div>

    <div class="example-container">
        <mat-form-field appearance="fill">
            <mat-label>Confirm your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
    </div>

    <div class="example-container">
        <mat-form-field appearance="fill">
            <mat-label>FH Technikum Wien</mat-label>
            <input matInput placeholder="Placeholder">
          </mat-form-field>
    </div>

    <div class="example-container">
        <mat-form-field appearance="fill">
            <mat-label>Strasse</mat-label>
            <input matInput placeholder="Strasse">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Stadt</mat-label>
            <input matInput placeholder="Stadt">
          </mat-form-field>
          
          <mat-form-field appearance="fill">
            <mat-label>PLZ</mat-label>
            <input matInput placeholder="PLZ">
          </mat-form-field>
    </div>


    <button mat-raised-button color="primary">Login</button>

</div>